*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
/nativemusicplayer/build
/nativemusicplayer/.cxx
/iolib/build
/parselib/build
/oboe/build
/iolib/.cxx
/oboe/.cxx
/parselib/.cxx
/oboemusicplayer/build
/oboemusicplayer/.cxx
.externalNativeBuild
test/build
